@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body{
  background: #f5f1f1;
  user-select: none;
}
.redHeart > svg {
    
  fill: rgb(189, 15, 15) !important; 
  
}

.content-container {
  font-family: __Lora_54761c, __Lora_Fallback_54761c;
 
}
.chapter-container {
  font-weight: 600;
 
}